[submodule "jasimibos/apon-wellbeing-odoo-main"]
	path = jasimibos/apon-wellbeing-odoo-main
	url = git@github.com:jasimibos/apon-wellbeing-odoo-main.git
	branch = master

[submodule "rauledgardo/odoo"]
	path = rauledgardo/odoo
	url = git@github.com:rauledgardo/odoo.git
	branch = main
